body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/* @font-face {
  font-family: 'Light Sport';
  src: url('/path-to-font/light-sport.woff2') format('woff2'),
       url('/path-to-font/light-sport.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 *{
  box-sizing: border-box;
  margin: 0px;
  /* overflow-x: hidden; */
 }
.navbar{
  display:flex;
  justify-content:space-between ;
  padding: 30px;
  align-items: center;
  background-color: rgb(22, 21, 21); 
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.logo-div{
  width: 50px;
  height: 50px;
}
img{
  max-width: 100%;
  overflow: hidden;
}
ul{
  display: flex;
  list-style: none;
}
ul li{
  margin-right: 80px;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 0px white solid;
  transform: scale(1);
  transition: all 0.7s ease-in;
  color: rgb(255, 255, 255);
}

ul li:hover{
  border-bottom: 1px solid rgba(17, 127, 164, 0.806);
  transform: translateY(-5px);
  color: rgb(17, 127, 164);
}
.navbar .cart{
  display: flex;
  justify-self: center;
  padding:5px;
  font-size: 20px;
  /* background-color:inherit; */
  color:white;
  transition: 1s ease;
  padding-right:30px;
  padding-left:30px;
  border: none;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .cart:hover{
  background-color: rgb(255, 255, 255);
  /* color: white; */
}
.header{
  display: flex;
  width: 100%;
  height: 600px;
  gap:40px;
  background:linear-gradient(180deg,rgb(22, 21, 21),rgb(0, 0, 0));
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-image: url(./images/header01.jpg); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
}
.header img{
  flex:1;
  max-width: 100%;
  transition: flex-grow 0.5s ease,transform 1s ease;
  object-fit: cover;
  height: auto;
}
.header img:hover{
  flex:2;
  transform:scale(1.2)
}

.about{
  height: 650px;
  /* background: url(./images/aboutnew.png); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: rgb(255, 255, 255);  */
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  
}
.aboutButton{
  padding-top: 10px;
  padding-bottom: 50px;
  h2{
    color: rgba(4, 126, 179, 0.993);
    font-size: 130px;
    letter-spacing: 10px;
    font-weight: 900;
      font-family: "Rubik Mono One", serif;
      font-weight: 400;
      /* font-style: italic; */
      }
  /* p{
    color: white;
    font-size: 30px;
  }
  h4{
    color: white;
    padding-top: 30px;
    font-size: 40px;
  } */
}
.aboutHead{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-end;
 padding-right: 90px;
 padding-bottom: 140px;
 padding-top: 110px;
 p{
  padding-left: 10px;
  color: rgb(177, 177, 177);
  font-size: 23px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
  padding-left: 10px;
  background: linear-gradient(90deg, #8c8c8c, #569cbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  padding-top: 20px;
  font-size: 40px;
}
 button{
  margin-top: 50px;
  justify-self: flex-start;
  padding: 8px;
  background-color: black;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 1s; 
}
 button:hover{
  transform: translateY(10px);
  background-color: white;
  color: black;
  cursor:pointer;
  box-shadow: 6px 6px 0px rgb(145, 1, 1);
}
}

.aboutImg{
  width: 377px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewX(20deg);
  overflow: hidden;
  border-right: 3px solid rgb(32, 30, 30);
  border-left: 3px solid rgb(32, 30, 30);
  background-color: black;
  img{
    transform: skewX(-20deg);
    animation: move ;
  }
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
 /* background-color: black; */
}

.head input{
  margin-top: 50px;
  padding: 10px;
  border: 0.5px solid grey;
  width:180px;
  border-radius: 10px;
  transition: width 0.8s;
}
.head input:focus{
  width:300px ;
}
.card-img{
  width: 250px;
  height: 180px;
  overflow-y: hidden;
  transition: 1s ease ;
  justify-items: center;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  /* transition-delay: 2s; */
  /* filter: blur(7px); */

}
.card:hover .card-img{
  transform: scale(1.3);
  filter:drop-shadow(4px 16px 10px rgba(108, 108, 108, 0.637));
  /* filter: blur(0px); */
  border-bottom: none;
}
.cars{
  padding-top:70px;
  padding-bottom:70px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 70px;
  justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size:20px;
  margin-bottom: 50px;
}
.model{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fuel{
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgb(22, 21, 21);
  color:white;
}
.footer h2{
  font-size: 200px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: url(./images/footer.webp);
  background-position: left 10px top 10px ;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.footer p{
  padding-top: 20px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #000000;
  
}

.head{
  display: flex;
  gap: 20px;
}
.head button {
  margin-top: 50px;
  border:none;
  width:150px;
  background-color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-self: flex-start;
  align-items: center;
  cursor: pointer;
}

span{
  font-size: 60px;
 }
select{
  appearance: none;
  margin-top: 50px;
  border:1px solid black;
  max-width:150px;
  background-color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline:none; /*removes the border when focused*/
  background: transparent;
  padding: 16px 10px;
  border-radius: 5px;
}

option{
  padding: 110px;
}
.view{
  display: flex;
  justify-content: center;
  max-width: 80px;
  height: 40px;
}
.view button{
  width: 0%;
  opacity: 0px;
  padding: 10px;
  background-color: black;
  color:white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  visibility: hidden;
  transition: width 1s ease, opacity 0.5s ease 1s;
 
}
.card:hover .view button{
    width: 100%;
    opacity: 1;
    cursor: pointer;
    visibility: visible;
}
.catHead{
  border-bottom: 1px solid rgb(155, 155, 155);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* margin-right: -90px; */
  padding-left:90px;
  padding-right:90px;
  overflow-x: hidden;
}
.cateBox{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  cursor: pointer;
  max-width:130px;

}
.cateImage{
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
overflow: hidden;
padding-bottom: 5px;
 img {
  border-radius: 20px;
 }
}
.cateName{
  font-size: 13px;
  display: flex;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bolder;
}
.link{
  text-decoration: none;
  color: black;
}
.productDetails{
  background-color: rgb(238, 238, 238);
  display: flex;
  /* margin: 20px; */
  padding: 20px;
}
.pdImg{
  width: 550px;
  padding-left: 20px;
  margin-right: 10px;
  img{
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
    margin: 10px;
    box-shadow: 1px 2px 2px 0px rgb(157, 157, 157);
    filter: drop-shadow(12px 15px 10px rgb(48, 47, 47));
  } 
}
.pdData{
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap:20px;

}
.load{
  text-align: center;
  font-size: larger;
  transition: all 1s;
}
.pdData{
  p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  };
}
.pdButtons{
  margin-top: 40px;
  display: flex;
  gap:50px;
  button{
  width: 100px;
  opacity: 0px;
  padding: 10px;
  background-color: black;
  color:white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  transition: width 1s ease, opacity 0.5s ease 1s;
  }
}
.reviews{
  display: flex;
}
.cardBody{
  display: flex;
  flex-direction: column;
}
.nlink{
  text-decoration: none;
  color: white;
}
.swiper-side{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart{
  display: flex;
  padding: 30px;
}
.items{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.itemsHead{
  display: flex;
  align-items:baseline;
  gap: 20px;
  margin-bottom: 20px;
}
.itemsCart{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid red; */

}
.checkOut{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 30%;
  border-radius: 10px;
}
.cartDetails{
  display: flex;

}
.cartCard{
  margin-right: 20px;
  border-bottom: 1px solid rgb(72, 72, 72);
  padding: 17px 0px 17px 0px;
}
.details{
  padding-top: 10px;
  .detailsImg{
    img{
      background-color: rgb(121, 121, 121);
    }
  }
}
.detailsData{
  display: flex;
  justify-content: space-between;
  width: 100%;
  .detailsDataRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .quantity{
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap:10px;
      div{
        font-size: 20px;
      }

    button{
      background-color: inherit;
      border: none;
      font-size: 25px;
    }
  }
  }
  .actions{
    display: flex;
    justify-content: space-around;
    button{
      background-color: inherit;
      border:none;
    }
  }
}
button:hover{
 cursor: pointer;
}
.Form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  gap: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto 40px auto;
  max-width:500px;
  p{
    button{
      margin-left: 10px;
    }
  }
  .fields{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;